<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=XE;Persist Security Info=True;User ID=BOYCATBAY;Password=Boycar55;Unicode=True" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <httpRuntime executionTimeout="10240" maxRequestLength="10240" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="90" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false">

    </httpRuntime>
  </system.web>
  <appSettings>
    <add key="pagerefresh" value="30" />
    <add key="LDAPServer" value="LDAP://ldapbkk.spansion.com,LDAP://ldapbkk.cysemi.com" />

  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>